body {
    background-color: rgb(213, 216, 214);
}

.title {
    padding: px20;
    Margin: 5px;
    background-color: rgb(11, 154, 73);
    border-radius: 5px;
    box-shadow: 5px 5px 5px saddlebrown;
}

.title h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(213, 216, 214);
}

.title nav {

    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(213, 216, 214);
}

.intro { 
    display:flex; 
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left; 
    text-align: justify;
    ;}

img {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    float: left;

}

.modern {
    width: 100%;
}

.Elements {
    margin-bottom: 20px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(213, 216, 214);
    background-color: rgb(11, 154, 73);
    border-radius: 5px;
    box-shadow: 5px 5px 5px saddlebrown;

}